# Resumen

## Notas importantes 2º EDA: 

- Las columnas de `age` y `attrition` no aparecen en el csv.
- Porcentaje de valores nulos elevados en las columnas: `department`, `educationfield`, `hourlyrate`, `overtime`. 

## Aún por hacer:

- Volver a introducir columnas `age` y `attrition`.
- Transformar datos en columna `age`.
- `distancefromhome`, valores aún en negativo.
- `monthlyincome`, `monthlyrate`, `performancerating`, `totalworkingyears`, `worklifebalance`, `salary` ahora solo dan valores nulos.
- `overtime` deberia ser fillna a 'no' o 'unknown'?
- Limpiar/sacar informacion de `roledepartment` porque está destinada a eliminación.
- `remotework` datos aun sin unificar.


## Memoria aún por actualizar: 

- `employeecount` solo se especifica que se ha eliminado en el índice.
- `employeenumber` solo se especifica que se ha actualizado en el índice.
- `maritalstatus`: no se especifica que se han actualizado los valores nulos a 'unknown'. 
- `over18`, `yearsincurrentrole`, `sameasmonthlyincome`, `numberchildren`: no se especifica que la columna ha sido eliminada.
- Otras columnas a revisar en la memoria: `envirenmentsatisfaction`, `gender`, `hourlyrate`, `jobinvolvement`, `joblevel`, `jobsatisfaction`, `relationshipsatisfaction`, `standardhours`, `numcompaniesworked`.

In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv('raw_data_limpio_2.csv', index_col=0)

df.head(5)

,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,datebirth,salary,roledepartament,remotework
attrition,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
no,non-travel,2015.72,NaN,6,3,NaN,1,1,m,NaN,3,5,research director,3,unknown,NaN,NaN,7,no,13,NaN,3,full time,0,NaN,5,NaN,20,15,15,1972,NaN,NaN,yes
no,non-travel,2063.39,NaN,1,4,life sciences,2,3,m,NaN,2,5,manager,3,unknown,NaN,NaN,0,NaN,14,NaN,1,full time,1,NaN,5,NaN,33,11,9,1971,NaN,NaN,1
no,travel_rarely,1984.25,research & development,4,2,technical degree,3,3,m,NaN,3,5,manager,4,married,NaN,NaN,1,no,11,NaN,4,full time,0,NaN,3,NaN,22,11,15,1981,NaN,manager - research & development,1
no,travel_rarely,1771.40,NaN,2,4,medical,4,1,f,NaN,3,4,research director,3,married,NaN,NaN,3,NaN,19,NaN,2,full time,2,NaN,2,NaN,20,5,6,1976,NaN,NaN,false
no,non-travel,1582.77,NaN,3,3,technical degree,5,1,f,NaN,4,4,sales executive,1,divorced,NaN,NaN,2,no,12,NaN,4,full time,1,NaN,5,NaN,19,2,8,1977,NaN,NaN,0

In [ ]:
#confirmando columna: 'employeecount', 'sameasmonthlyincome', 'numberchildren', 'over18', 'yearsincurrentrole' han sido eliminadas: 

df.columns


# Importante: columnas de 'age' y 'attrition' no aparecen en el csv!!!

# NOTAS: en la memoria, la columna de 'Roledepartment' aparece con el simbolo de eliminar pero aun sigue en el csv.

Index(['businesstravel', 'dailyrate', 'department', 'distancefromhome',
       'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'standardhours', 'stockoptionlevel', 'totalworkingyears',
       'trainingtimeslastyear', 'worklifebalance', 'yearsatcompany',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'salary', 'roledepartament', 'remotework'],
      dtype='object')

- Comprobación columna 'age':

In [ ]:
# Importante: columnas de 'age' y 'attrition' no aparecen en el csv!!!
# datos aún tendrían que ser transformados 
df['age'].unique()

KeyError: 'age'

- Comprobación columna 'attrition':

In [ ]:
# Importante: columnas de 'age' y 'attrition' no aparecen en el csv!!!

df['attrition'].unique()

KeyError: 'attrition'

- Comprobación columna 'businesstravel':

In [ ]:
# todo correcto; memoria estaba actualizada

df['businesstravel'].unique()

array(['non-travel', 'travel_rarely', 'travel_frequently'], dtype=object)

- Comprobación columna 'dailyrate':

In [ ]:
# todo correcto; memoria estaba actualizada

df['dailyrate'].unique()

array([2015.72, 2063.39, 1984.25, 1771.4 , 1582.77, 1771.92, 1032.49,
        556.26, 1712.18, 1973.98, 2060.71, 1382.75, 1362.52, 2016.55,
       1861.37, 1985.7 , 1108.92, 1728.38,  639.79, 2047.5 ,  412.8 ,
       1077.87, 1657.4 ,  331.19, 1059.19, 1080.75,  635.76,  487.09,
        290.04,  476.15, 1749.74, 1063.32,  557.76,  608.94, 1119.96,
        610.17,  685.7 , 1441.66, 1374.29,  689.93,  488.53, 1431.24,
       1964.96, 1652.34,  991.82, 1187.54,  444.27, 1758.71,  522.79,
        380.92, 2047.71,  238.13,  592.94, 1075.29,  654.85,  242.25,
        316.95, 1288.65,  827.46, 1760.98,  922.69, 1988.38,  575.4 ,
        277.64,  763.8 ,  910.31,  369.26, 1834.34, 1879.12, 1400.8 ,
       1979.92, 1766.66, 1979.61, 1032.57,  824.16,  730.79,  487.29,
        351.52,  302.2 , 1241.29, 1591.67,  528.87,  992.44,  516.9 ,
       1963.72, 1073.02,  288.17,  585.41, 1980.64,  867.9 ,  345.43,
        547.75,  789.7 , 1321.46,  679.51,  259.9 , 1764.18, 1353.65,
        323.04,  458.51,  688.59, 1016.48, 1842.8 ,  768.24, 1419.37,
       1712.49,  442.1 , 1044.54, 1002.24, 1023.9 , 1160.2 ,  316.64,
        953.44,  667.75,  315.2 ,  858.52,  324.28,  885.03,  433.02,
       1020.19, 1376.45,  585.72,  300.13,  982.84,  704.17,  456.44,
        561.37,  626.68,  634.11,  636.79,  481.62,  578.29,  445.61,
        367.71,  645.98,  702.  , 2005.3 ,  601.3 ,  253.29,  521.55,
        483.06,  542.39,  218.63,  616.37,  313.03, 1363.14,  865.84,
        417.96,  495.75,  282.8 ,  550.64,  973.35,  556.73, 1151.33,
        511.75,  907.21, 1979.82,  228.63, 1208.48,  547.24, 1145.55,
        684.25,  782.79,  447.26,  616.98,  437.87,  539.4 ,  278.57,
        244.11,  240.29,  443.03,  693.85, 1065.28,  458.82, 1118.93,
        564.57,  658.77,  776.39,  377.62,  901.75, 1392.75,  360.18,
        538.57, 1057.75, 2036.67,  640.61,  731.92,  467.79,  876.98,
        478.63,  553.33,  421.06,  369.16, 1787.81, 1113.56, 1119.55,
       1079.83,  243.7 ,  664.34,  595.21,  452.42,  419.51,  537.13,
        273.93,  265.16,  464.49,  512.57,  531.04,  280.43,  365.13,
        564.16,  599.75,  997.39,  531.76,  585.52,  754.62,  525.98,
       1400.08,  692.51, 1030.82, 1057.33, 1128.52,  267.53, 1225.51,
        835.2 , 1739.11,  468.1 , 1849.3 ,  414.14, 1314.65,  348.32,
       1081.48,  438.39,  675.69, 1486.85, 2020.78,  849.85,  331.29,
       1723.43,  492.56,  471.3 ,  618.33,  670.53,  356.16,  660.01,
        281.15,  373.7 ,  637.62,  647.32,  452.01,  264.02,  566.22,
        259.38,  329.75,  352.86,  421.67,  553.84, 1334.67,  435.5 ,
        512.06,  433.33,  516.49,  788.15,  670.84, 1395.44,  655.06,
        658.25,  320.05,  470.06,  436.43,  501.33,  652.27, 1110.26,
        306.74,  536.92, 1795.13, 1742.1 ,  446.02,  531.87,  302.92,
       1938.55,  503.8 ,  209.34,  309.11,  957.25,  429.41,  913.4 ,
        503.08,  220.9 ,  800.22,  406.1 ,  705.92,  411.56,  508.65,
        381.95,  279.09,  458.92,  245.45,  566.12,  289.92,  922.17,
       1025.14,  562.71, 1933.49,  564.67, 1393.17, 1397.91, 1874.89,
        286.21,  973.87,  543.21,  393.61,  246.48,  412.7 , 1814.22,
        584.07,  502.36,  479.66, 1082.92,  285.59,  351.62,  387.42,
        225.64,  439.32,  549.51,  565.91,  287.03, 1819.9 ,  625.44,
        648.76,  353.27,  432.71,  261.24,  584.59, 1416.17,  423.74,
        371.12,  424.56,  647.11,  259.69,  402.79,  949.62,  451.18,
        212.95,  250.71,  503.18,  387.94,  207.69,  306.84,  285.38,
        348.42,  434.67,  671.98,  442.  ,  229.67,  573.75,  221.21,
        554.36,  298.9 ,  548.99,  558.17,  500.4 ,  206.45,  454.38,
        406.92,  305.4 , 1954.85,  667.02,  276.82,  207.79,  355.02,
       1409.78,  518.04, 1944.22,  488.94, 1098.81,  445.4 ,  208.83,
        315.51,  405.37,  456.55,  240.19,  274.13,  612.86,  270.52,
        331.4 ,  300.34,  715.1 ,  224.51,  333.25, 1925.75,  287.75,
        661.35,  509.79,  410.94,  299.62,  278.16,  224.3 ,  696.94,
       1131.31,  262.37, 2002.21,  674.56,  232.97,  228.84,  273.83,
       1231.39,  262.68,  401.76,  439.73, 1086.12,  247.62,  379.79,
        355.64, 2013.25,  274.34,  912.79,  210.99,  500.5 ,  837.78,
        472.23,  557.66,  382.57, 1420.71,  236.99,  252.78,  447.98,
        265.37,  670.63,  324.9 ,  549.3 ,  452.11,  263.4 ,  612.13,
        454.28, 1128.11,  208.62,  439.11,  369.37,  299.1 ,  573.86,
        245.25,  248.03,  288.79,  290.02,  451.6 ,  437.46,  436.12,
        404.13,  512.67,  210.68,  291.06, 1027.31,  227.71,  213.57,
        287.96,  848.51,  269.29,  591.29,  261.96,  245.14, 1968.67,
        283.01,  468.21,  398.98,  214.6 ,  216.25,  477.39,  237.51,
        523.2 , 1093.24,  564.06,  247.  ,  374.42,  965.92,  333.15,
       1694.33,  582.63,  453.97,  213.16,  566.02,  326.24,  686.21,
        505.35,  328.1 , 1160.1 ,  419.82,  659.49,  500.91,  341.71,
        321.6 , 1568.46,  266.19,  223.48,  451.29,  567.98,  266.91,
       1647.9 ,  237.82,  354.2 ,  358.74,  403.1 ,  355.44,  284.76,
        649.38, 1353.24,  370.5 ,  217.18,  402.59,  274.65,  212.75,
        568.18,  836.02,  410.43,  557.04, 1077.97,  458.1 ,  274.44,
        348.21,  234.1 ,  493.9 ,  289.82, 1119.86,  265.26,  633.7 ,
        257.52,  352.75,  258.04,  264.75,  404.44, 1440.73,  674.76,
        231.52, 1669.78,  436.74, 1528.43, 1770.37,  239.16,  373.18,
        276.92, 1984.77,  456.24,  263.3 ,  276.3 ,  533.52, 1229.43,
        967.78,  606.46,  254.63,  425.8 ,  221.62,  400.94,  687.87,
        215.63,  215.22,  201.29,  311.79, 1003.27,  349.56,  313.44,
        239.57,  301.89,  464.8 ,  292.5 ,  676.1 ,  688.48, 1402.25,
        224.61, 2013.66, 1981.16, 1036.7 ,  280.94,  685.49,  326.13,
        146.51,  123.81,  540.43, 1030.2 , 1649.97,  244.52,  699.63,
        686.42,  294.15,  542.49,  255.46,  235.75,  355.75,  470.27,
        175.6 ,  264.54,  523.1 ,  390.  , 1013.59,  193.76,  241.43,
        219.45,  209.75,  990.68, 1715.48,  214.91,  104.1 ,  811.06,
        272.59,  528.36,  277.95,  525.57,  234.62,  238.75,  245.56,
        207.17, 1088.7 ,  233.07,  248.96,  218.83,  255.77, 1361.29,
        429.52,  268.25, 1888.4 ,  492.87,  108.54,  253.91,  267.84,
        487.81,  758.44,  491.73,  291.67,  294.36,  236.27,  217.39,
        228.02, 1360.98, 1884.48,  115.35,  244.73,  292.81, 1863.44,
        166.21,  491.94,  131.44,  264.23,  161.26,  659.08,  864.19,
        499.47,  213.98,  306.63,  703.13,  277.54, 1812.47,  161.88,
        431.99,  341.1 ,  143.72, 1122.85,  295.29,  694.88, 1006.57,
        546.21,  251.44,  420.02,  304.98,  479.56,  289.3 ,  251.64,
        294.67,  302.61,  112.56,  531.45,  295.39,  294.87,  116.48,
       2004.79])

- Comprobación columna 'department':

In [ ]:
# estandarización y espaciado correcto; memoria estaba actualizada

df['department'].unique()

array([nan, 'research & development', 'sales', 'human resources'],
      dtype=object)

In [15]:
df['department'].value_counts()

department
research & development    196
sales                      91
human resources            15
Name: count, dtype: int64

In [ ]:
# numero total de valores nulos: 

df['department'].value_counts(dropna=False)

department
NaN                       1312
research & development     196
sales                       91
human resources             15
Name: count, dtype: int64

In [ ]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['department'].value_counts(dropna=False, normalize=True)*100, 2)

department
NaN                       81.29
research & development    12.14
sales                      5.64
human resources            0.93
Name: proportion, dtype: float64

- Comprobación columna 'distancefromhome':

In [ ]:
# algunos valores aún siguen en negativo

df['distancefromhome'].unique()

array([  6,   1,   4,   2,   3,  22,  25,   9,   7,  23,  10,  12,  14,
       -13,  15,   8, -42,  28, -37,   5,  16, -35,  26, -26,  24,  29,
       -25,  17,  21, -18, -10, -30, -27,  20, -31, -29, -39,  18, -21,
       -15,  11,  13, -14,  19, -33, -34, -46, -36, -19,  27, -12, -23,
       -45, -28, -47, -32, -24, -16, -22, -41, -49, -11, -48, -38, -20,
       -17, -43, -40, -44])

- Comprobación columna 'education':

In [ ]:
# todo correcto; memoria estaba actualizada

df['education'].unique()

array([3, 4, 2, 1, 5])

- Comprobación columna 'educationfield':

In [ ]:
# estandarización y espaciado correcto; memoria estaba actualizada

df['educationfield'].unique()

array([nan, 'life sciences', 'technical degree', 'medical', 'other',
       'marketing', 'human resources'], dtype=object)

In [27]:
df['educationfield'].value_counts()

educationfield
life sciences       349
medical             276
marketing           104
technical degree     69
other                59
human resources      12
Name: count, dtype: int64

In [29]:
# numero total de valores nulos: 

df['educationfield'].value_counts(dropna=False)

educationfield
NaN                 745
life sciences       349
medical             276
marketing           104
technical degree     69
other                59
human resources      12
Name: count, dtype: int64

In [30]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['educationfield'].value_counts(dropna=False, normalize=True)*100, 2)

educationfield
NaN                 46.16
life sciences       21.62
medical             17.10
marketing            6.44
technical degree     4.28
other                3.66
human resources      0.74
Name: proportion, dtype: float64

- Comprobación columna 'employeecount':

In [ ]:
# confirmando que ha sido eliminada; la memoria no está actualizada

df['employeecount'].unique()

KeyError: 'employeecount'

- Comprobación columna 'employeenumber':

In [ ]:
# todo correcto, cero duplicados; memoria sin actualizar

df['employeenumber'].unique()

array([   1,    2,    3, ..., 1612, 1613, 1614], shape=(1614,))

In [33]:
df['employeenumber'].value_counts()

employeenumber
1       1
2       1
3       1
4       1
5       1
       ..
1610    1
1611    1
1612    1
1613    1
1614    1
Name: count, Length: 1614, dtype: int64

In [40]:
len(df)

1614

In [ ]:
df.duplicated(subset="employeenumber").sum()

np.int64(0)

- Comprobación columna 'environmentsatisfaction':

In [ ]:
# todo parece correcto; memoria sin actualizar 

df['environmentsatisfaction'].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

- Comprobación columna 'gender':

In [ ]:
# todo correcto; memoria sin actualizar 

df['gender'].unique()

array(['m', 'f'], dtype=object)

- Comprobación columna 'hourlyrate':

In [ ]:
# redondeo correcto pero aún gran número de valores nulos; memoria sin actualizar

df['hourlyrate'].unique()

array([   nan,  69.53, 172.84, 216.05,  79.97, 129.06, 246.75, 207.17,
        60.89,  36.25, 140.  ,  86.24, 197.85,  61.07, 245.62, 123.98,
       148.44, 255.96, 134.41,  71.93, 113.79, 175.1 , 247.49, 220.83,
        91.35,  37.77, 198.96, 124.05, 247.58, 108.49,  43.18,  68.47,
        32.49,  55.26,  83.47,  79.26,  72.29,  45.96,  31.66,  65.19,
        52.25, 143.92, 113.4 , 143.19, 139.87,  70.57,  97.05,  45.02,
       223.48, 134.98,  74.4 ,  67.14,  58.06,  35.05,  73.19, 164.33,
        43.54,  54.8 , 252.6 ,  83.82,  46.71,  33.  ,  70.78,  69.23,
        54.55,  81.53, 217.76,  50.76,  88.24,  57.37, 115.27,  35.78,
        59.96,  28.21,  54.91, 227.49,  78.18,  54.09, 177.02,  52.97,
        46.39,  80.89, 118.7 ,  56.4 ,  31.34,  38.36,  35.67,  84.  ,
        55.25,  28.71,  69.29,  69.77,  50.87,  38.17, 244.36,  83.38,
        25.97, 243.03,  26.1 ,  76.61,  33.82,  41.42,  89.39, 240.72,
        82.67,  28.04,  34.27, 141.41,  32.8 ,  68.4 ,  84.32, 153.92,
        50.22,  26.37, 104.72,  59.03,  47.82,  40.61,  32.93,  76.52,
       141.01,  36.1 ,  44.52, 106.06,  73.91,  32.75,  30.64,  48.49,
        26.83,  65.4 ,  70.51,  44.11,  41.01, 145.01,  82.44,  42.71,
        40.2 ,  29.73,  50.39,  44.43,  35.6 ,  81.17,  71.02, 104.5 ,
        51.3 ,  34.31,  36.23,  33.16,  32.25,  50.56,  30.66,  57.03,
        66.69, 153.68, 120.97,  31.83,  27.7 ,  50.12,  43.69,  58.1 ,
       175.28,  85.69,  30.57,  67.81,  54.13,  58.78,  33.07, 126.7 ,
        26.86,  13.01, 101.38,  29.33,  27.35,  33.53,  61.61,  36.79,
        36.6 , 108.02, 226.56,  68.28,  31.43,  59.94,  14.07,  66.43,
        27.65,  26.7 ,  36.  ,  74.97,  34.77,  29.12, 108.23, 247.48,
        67.42,  34.82, 133.16])

In [46]:
df['hourlyrate'].value_counts()

hourlyrate
36.25     75
69.53     74
129.06    38
197.85    14
246.75     8
          ..
108.23     1
247.48     1
67.42      1
34.82      1
133.16     1
Name: count, Length: 194, dtype: int64

In [47]:
df['hourlyrate'].value_counts(dropna=False)

hourlyrate
NaN       1210
36.25       75
69.53       74
129.06      38
197.85      14
          ...
108.23       1
247.48       1
67.42        1
34.82        1
133.16       1
Name: count, Length: 195, dtype: int64

In [ ]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['hourlyrate'].value_counts(dropna=False, normalize=True)*100, 2)

hourlyrate
NaN       74.97
36.25      4.65
69.53      4.58
129.06     2.35
197.85     0.87
          ...
108.23     0.06
247.48     0.06
67.42      0.06
34.82      0.06
133.16     0.06
Name: proportion, Length: 195, dtype: float64

- Comprobación columna 'jobinvolvement':

In [ ]:
#todo correcto; memoria sin actualizar 

df['jobinvolvement'].unique()

array([3, 2, 4, 1])

- Comprobación columna 'joblevel':

In [ ]:
#todo correcto; memoria sin actualizar 

df['joblevel'].unique()

array([5, 4, 3, 2, 1])

- Comprobación columna 'jobrole':

In [ ]:
# estandarización y espaciado correcto; memoria actualizada

df['jobrole'].unique()

array(['research director', 'manager', 'sales executive',
       'manufacturing director', 'research scientist',
       'healthcare representative', 'laboratory technician',
       'sales representative', 'human resources'], dtype=object)

- Comprobación columna 'jobsatisfaction':

In [53]:
# todo correcto; memoria sin actualizar 

df['jobsatisfaction'].unique()

array([3, 4, 1, 2])

- Comprobación columna 'maritalstatus':

In [ ]:
# Nulos sustituidos por 'unknown', estandarización y espaciado correcto; memoria sin actualizar (no se especifica que se han actualizado los valores nulos)

df['maritalstatus'].unique()

array(['unknown', 'married', 'divorced', 'single'], dtype=object)

In [55]:
df['maritalstatus'].value_counts(dropna=False)

maritalstatus
unknown     651
married     439
single      325
divorced    199
Name: count, dtype: int64

- Comprobación columna 'monthlyincome':

In [ ]:
# ahora solo da valores nulos! 

df['monthlyincome'].unique()

array([nan])

In [58]:
df['monthlyincome'].value_counts(dropna=False)

monthlyincome
NaN    1614
Name: count, dtype: int64

In [67]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['monthlyincome'].value_counts(dropna=False, normalize=True)*100, 2)

monthlyincome
NaN    100.0
Name: proportion, dtype: float64

- Comprobación columna 'monthlyrate':

In [ ]:
# ahora solo da valores nulos! 

df['monthlyrate'].unique()

array([nan])

In [60]:
df['monthlyrate'].value_counts(dropna=False)

monthlyrate
NaN    1614
Name: count, dtype: int64

In [68]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['monthlyrate'].value_counts(dropna=False, normalize=True)*100, 2)

monthlyrate
NaN    100.0
Name: proportion, dtype: float64

- Comprobación columna 'numcompaniesworked':

In [ ]:
# todo correcto; memoria sin actualizar 

df['numcompaniesworked'].unique()

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6])

- Comprobación columna 'over18':

In [ ]:
# confirmando que ha sido eliminada; la memoria no está actualizada

df['over18'].unique()

KeyError: 'over18'

- Comprobación columna 'overtime':

In [ ]:
# consulta de nulos con PILI?

df['overtime'].unique()

array(['no', nan, 'yes'], dtype=object)

In [64]:
df['overtime'].value_counts()

overtime
no     682
yes    256
Name: count, dtype: int64

In [65]:
df['overtime'].value_counts(dropna=False)

overtime
no     682
NaN    676
yes    256
Name: count, dtype: int64

In [69]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['overtime'].value_counts(dropna=False, normalize=True)*100, 2)

overtime
no     42.26
NaN    41.88
yes    15.86
Name: proportion, dtype: float64

- Comprobación columna 'percentsalaryhike':

In [ ]:
# todo correcto; memoria actualizada

df['percentsalaryhike'].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18])

- Comprobación columna 'performancerating':

In [ ]:
# solo da valores nulos! 

df['performancerating'].unique()

array([nan])

In [72]:
df['performancerating'].value_counts()

Series([], Name: count, dtype: int64)

In [74]:
df['performancerating'].value_counts(dropna=False)

performancerating
NaN    1614
Name: count, dtype: int64

In [75]:
# porcentaje de valores nulos (tal y como sugiere PILI):

round(df['performancerating'].value_counts(dropna=False, normalize=True)*100, 2)

performancerating
NaN    100.0
Name: proportion, dtype: float64

- Comprobación columna 'relationshipsatisfaction':

In [77]:
# todo correcto; memoria sin actualizar 

df['relationshipsatisfaction'].unique()

array([3, 1, 4, 2])

- Comprobación columna 'standardhours':

In [ ]:
# estandarización correcta y valores nulos eliminados; memoria sin actualizar 

df['standardhours'].unique()

array(['full time', 'part time'], dtype=object)

- Comprobación columna 'stockoptionlevel':

In [ ]:
# todo correcto; memoria actualizada 

df['stockoptionlevel'].unique()

array([0, 1, 2, 3])

- Comprobación columna 'totalworkingyears':

In [ ]:
# ahora solo aparecen nulos! 

df['totalworkingyears'].unique()

array([nan])

- Comprobación columna 'trainingtimeslastyear':

In [ ]:
# todo correcto; memoria actualizada

df['trainingtimeslastyear'].unique()

array([5, 3, 2, 0, 1, 4, 6])

- Comprobación columna 'worklifebalance':

In [ ]:
# ahora solo aparecen nulos! 

df['worklifebalance'].unique()

array([nan])

- Comprobación columna 'yearsatcompany':

In [ ]:
# todo correcto; memoria actualizada

df['yearsatcompany'].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0])

- Comprobación columna 'yearsincurrentrole':

In [ ]:
# confirmando que ha sido eliminada; la memoria no está actualizada

df['yearsincurrentrole'].unique()

KeyError: 'yearsincurrentrole'

- Comprobación columna 'yearssincelastpromotion':

In [ ]:
# todo correcto; memoria estaba actualizada

df['yearssincelastpromotion'].unique()

array([15, 11,  5,  2,  4,  7,  0,  1, 13, 14,  8, 12,  3,  6, 10,  9])

- Comprobación columna 'yearswithcurrmanager':

In [ ]:
# todo correcto; memoria estaba actualizada

df['yearswithcurrmanager'].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16])

- Comprobación columna 'sameasmonthlyincome':

In [ ]:
# confirmando que ha sido eliminada; la memoria no está actualizada

df['sameasmonthlyincome'].unique()

KeyError: 'sameasmonthlyincome'

- Comprobación columna 'datebirth':

In [ ]:
# todo correcto; memoria estaba actualizada

df['datebirth'].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005])

- Comprobación columna 'salary':

In [ ]:
# ahora solo aparecen nulos! 

df['salary'].unique()

array([nan])

- Comprobación columna 'roledepartament':

In [92]:
# columna destinada a ser eliminada 

df['roledepartament'].unique()

array([nan, ' manager  -  research & development ',
       ' healthcare representative  -  research & development ',
       ' sales executive  -  sales ',
       ' laboratory technician  -  research & development ',
       ' manufacturing director  -  research & development ',
       ' research scientist  -  research & development ',
       ' research director  -  research & development ',
       ' human resources  -  human resources ', ' manager  -  sales ',
       ' sales representative  -  sales ',
       ' manager  -  human resources '], dtype=object)

- Comprobación columna 'numberchildren':

In [ ]:
# confirmando que ha sido eliminada; la memoria no está actualizada

df['numberchildren'].unique()

KeyError: 'numberchildren'

- Comprobación columna 'remotework':

In [ ]:
# datos aún sin unificar 

df['remotework'].unique()

array(['yes', '1', 'false', '0', 'true'], dtype=object)